.signature-wrapper {
	background:#fff;
	cursor:pointer;

}
.instructions {
    position: absolute;
    left: 376px;
    background: #444;
    width: 300px;
    font-size: 15px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
      -webkit-box-shadow: 0px 3px 63px -8px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 3px 63px -8px rgba(0,0,0,0.75);
	box-shadow:0px 3px 63px -8px rgba(0, 0, 0, 0.75);
	animation:instructions .6s 1;
	animation-fill-mode:forwards;
	animation-delay:.6s;
	opacity:0;

	&::before {
	    content: '';
	    display: block;
	    position: absolute;
	    width: 64px;
	    background:#444;
	    bottom: -3px;
	    height: 20px;
	    left: 14px;
	    transform: rotate(-8deg);
	    z-index: -1;
	}

    h5 {
	    font-size: 18px;
	    margin: 0;
	    padding: 0 9px;
	}
	ul {
		padding-left: 0;
	    margin-left: 26px;
	    font-size: 12px;
	}
}
@keyframes instructions {
	0%{
		opacity:0;
		left:490px;
	}
	100%{
		opacity:1;
		left:460px;
	}
}
.tooltip {
    position: absolute;
    left: -208px;
    font-size: 10px;
    background: 	#B05372;
    padding: 5px 15px;
    font-weight: bold;
    display:none;
    animation:blink 1.2s 1;
    text-transform:uppercase;
    width:166px;
    border-radius:5px;
    -webkit-box-shadow: 0px 3px 97px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 97px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 97px 5px rgba(0,0,0,0.75);
	z-index:2;
	text-align:left;

	&::after {
	    content: '';
	    display: block;
	    width:42px;
	    height: 10px;
	    position: absolute;
	    right: 13px;
	    background: 	#B05372;
	    transform: rotate(7deg);
	    bottom: -3px;
	    z-index: -1;

	}

}
.wrapper {
	background:#fff;
	-webkit-box-shadow: 0px 0px 104px -49px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 104px -49px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 104px -49px rgba(0,0,0,0.75);
	padding:25px;
	border-radius:5px;
	animation:formIn .7s 1;
	animation-fill-mode:forwards;
	opacity:0;
	position:relative;
	top:25px;
}
.green.wrapper {
	.instructions {
		background:#369934;
		&::before {
			background:#369934;
		}
	}
}
.yellow.wrapper {
	.instructions {
		background:#f9cc34;
		color:#444;
		&::before {
			background:#f9cc34;
		}
	}
}
.red.wrapper {
	.instructions {
		background:#f23435;
		&::before {
			background:#f23435;
		}
	}
}
.purple.wrapper {
	.instructions {
		background:#673499;
		&::before {
			background:#673499;
		}
	}
}
.black.wrapper {
	.instructions {
		background:#333;
		&::before {
			background:#333;
		}
	}
}
@keyframes formIn {
	0%{
		opacity:0;
		top:25px;
	}
	100%{
		opacity:1;
		top:0;
	}
}
h1 {
	color: #333;
    font-size: 14px;
    text-align: left;
    font-weight:normal;
    span {
    	font-weight:bold;
    }
}
form {
	margin-bottom:5px;
	padding-bottom:25px;
	border-bottom:2px solid #eee;
	fieldset {
	    border: none;
	    padding:0;
	    margin:0;
	    label {
	    	display: block;
		    font-size: 14px;
		    text-align: left;
		    color: #eee;
		    font-weight: bold;
		    background:#444;
		    color: #eee;
		    padding: 8px 5px;
	    }
	    input,select {
	    	width:100%;
	    	left:0;
	    	padding:0;
	    	height:45px;
	    	border-radius: 5px;
	    	border:none;
	    	background:#fff;
	    	box-sizing:border-box;
	    	padding-left:5px;

	    	&::placeholder {
	    		color:#999;
	    	}
	    }

	}
}


@keyframes blink {
	0%{
		opacity:1;
	}
	50%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
.active.tooltip {
	display:block;
	text-align:center;
	transition:.6s;
}
.copied.tooltip {
	background:#C0CB50;
	display:block;
	color:#222;
	padding-left:75px;
	box-sizing:border-box;
	width:190px;
	transition:.6s padding;
	&::after {
	    content: '';
	    display: block;
	    width: 76px;
	    height: 10px;
	    position: absolute;
	    right: 7px;
	    background: #C0CB50;
	    transform: rotate(5deg);
	    bottom: -4px;
	}
}


